<body>
    <h4><a href="/createpost">Create Post</a></h4>
    <div class="tweengrid ">
        <% for (post in posts){ %>
            <div class="tweengriditem rounded ">
                <a href="/user/<%= posts[post].poster_id %>" id="tweenusername">
                    <%= posts[post].poster_username %>
                </a>
                <p id="tweencontent">
                    <%= posts[post].tween %>
                </p>
                <p id="tweendate">
                    <%= posts[post].date %>
                </p>
            </div>
            <% } %>
    </div>
</body>