<head>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
</head>

<body>
    <p>Date: <input type="text" id="datepicker"></p>
</body>