body {
    font-family: Chewy;
    justify-content: center;
}

.container > .tweengrid{
    justify-content: center;
}

#imgcontainer {
    display: flex;
    justify-content: center;
}

.tweengrid {
    display: grid;
    grid-template-columns: 45%;
    gap: 5px;
}
.tweengriditem {
    border: 1px;
    padding: 2%;
    border-style: solid;
    border-color: black;
    background-color: white;
}
#tweenusername{
    color: black;
}

#tweencontent{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10%;
    padding-top: 2%;
}

#tweendate{
    font-family: 'Courier New', Courier, monospace;
    font-size: 11;
}

#loginform {
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 20%;
}