<body>
    <!-- <h4><a href="/createpost">Create Post</a></h4> -->
    <div class="tweengrid pt-3">
        <% for (post in posts){ %>
            <div class="tweengriditem rounded ">
                <a href="/user/<%= posts[post].poster_id %>" class="tweenusername">
                    <%= posts[post].poster_username %>
                </a>
                <p class="tweencontent">
                    <%= posts[post].tween %>
                </p>
                <p class="tweendate">
                    <%= posts[post].date %>
                </p>
            </div>
            <% } %>
    </div>
</body>